<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login Page</title>
</head>
<body>
  <% if (!user) { %>
    <h1>Login</h1>
    <form action="/login" method="POST">
      <input type="text" name="username" placeholder="Usuario" required>
      <input type="password" name="password" placeholder="Contraseña" required>
      <button type="submit">submit</button>
    </form>

    <h1>Register</h1>
    <form action="/register" method="POST">
      <input type="text" name="username" placeholder="Usuario" required>
      <input type="password" name="password" placeholder="Contraseña" required>
      <button type="submit">submit</button>
    </form>
  <% } else { %>
    <h1>Welcome, <%= user.username %>!</h1>
    <a href="/protected">Go to Protected Page</a>
    <a href="/logout">logout</a>
  <% } %>
</body>
</html>
